body{
    background-image: url(./bilder/forre\ borre.jpg);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.kontainer{
    width: 800px;
    padding: 40px;
}
.box{
    background-color: #000;
    padding: 50px;
}


h1{
    font-family: 'Times New Roman', Times, serif;
}
h2{

}
img{

}
p{

}

